<footer class="py-8 border-t border-gray-200 bottom-0 w-full mt-3">
  <div class="text-center text-gray-500">
    <p>&copy; {{ "now"|date("Y") }} TicketDash. All rights reserved.</p>
  </div>
</footer>